@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --body-- */
.body{
    width: 100%;
    padding: 120px 130px 70px 130px;}
.body .grid-item{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

.body .grid-item .card{
    width: 100%;
    height: 600px; 
}
.body .grid-item .card .image{
    height: 45%;
}
.body .grid-item .card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body .grid-item .card .card-body{
    padding: 50px 20px;
    position: relative;
}
.body .grid-item .card .card-body .icon-list{
    background-color: unset;
}
.grid-item .card .card-body .icon-list ul{
    list-style: none;
    display: flex;
    padding: 0;
}
.grid-item .card .card-body .icon-list ul li{
    margin-right: 30px;
}
.grid-item .card .card-body .icon-list ul i{
    color: #D68910;
    margin-bottom: 14px;
}
.grid-item .card .card-body ul h4{
    font-size: 16px;
}
.grid-item .card .card-body .text{
    color: rgb(160, 150, 150);
}
.body .grid-item .card .title{
    background-color: #D68910;
    width: fit-content;
    position: absolute;
    padding: 2px 10px;
    color: white;
    top: -15px;
    right: 20px;
}
.grid-item .card .card-body h3{
    margin-top: 20px;
    font-family: 'Playfair Display', sans-serif;
}
.grid-item .card .card-body .btn{
    margin-top: 50px;
    color: #707B7C;
    border: 1px solid #D5D8DC ;
    padding: 10px 20px;
    text-decoration: underline;
    font-weight: bold;
}
.grid-item .card .card-body .btn:hover{
    text-decoration: none;
}
